# Ignore node_modules (dependencies will be installed in the container)
node_modules

# Ignore build output
.next

# Ignore logs
*.log

# Ignore environment files (if sensitive)
.env.development
.env.production

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor config files
.vscode
.idea

# Ignore test coverage reports
coverage

# Ignore temporary files
*.tmp
*.swp